.ellipse-parent {
  position: relative;
  width: 390px;
  height: 390px;
  border-radius: 50%;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}

.ellipse {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.25) inset,
    0 4px 4px rgba(255, 255, 255, 0.25) inset;
  transform-origin: 50% 50%;
}
